.poster{
    position: relative;
    width: 50%;
    &__img{
        filter: brightness(70%);
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
}
.banner{
    width: 30%;
    position: absolute;
    bottom: 5rem;
    left: 3rem;

    &__title{
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        text-align: center;
        font-family: 'Archivo Black', sans-serif;
        background-clip: text;
        -webkit-background-clip: text;
        color: whitesmoke;
    }
    &__buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            gap: 0.5rem;
            border: none;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
        &--play{
            background-color: #f34242;
            color: #e7eaf6;
        }
        &--info{
            background-color: #e7eaf6;
            color: #f34242;
        }
    }

}

@media screen and (max-width : 768px){
    .poster{
        width : 100%;
        &__img{
            height: 50vh;
            width: 100vw;
            object-fit: cover;
        }
    }
    .banner{
        width: 100%;
        position: absolute;
        bottom: 60vh;
        left: 1rem;
        &__title{
            font-size: 1rem;
        }
        &__buttons{
            button{
                font-size: 0.8rem;
            }
        }
    
    }

}

@media screen and (max-width : 480px){
    .poster{
        &__img{
            height: 50vh;
            width: 100vw;
            object-fit: cover;
        }
    }
    .banner{
        width: 100%;
        position: absolute;
        bottom: 60vh;
        left: 1rem;
        &__title{
            font-size: 0.6rem;
        }
        &__buttons{
            button{
                font-size: 0.6rem;
            }
        }
    
    }

}