.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__button{
        width: 80%;
        padding: 0.5rem 0;
        border: none;
        border-radius: 0.6rem;
        background-color: #f34242;
        color: #e7eaf6;
        font-size: 1rem;
        outline: none;
        cursor: pointer;

        &:hover{
            background-color: #9e2828;
        }

    }

}