.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    padding: 0 4rem;
    align-items: center;
    transition: 0.3s ease-in-out;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 1.5rem;
       
       &--logo{
           font-size: 1.2rem;
           color: #e7eaf6;
           font-family: 'Pacifico', cursive;
           letter-spacing: 5px;
       }

       &--links{
              display: flex;
              gap: 1.5rem;
              li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: #e7eaf6;
                    font-size: 1rem;
                    &:hover{
                        text-decoration: underline;
                    }
                }
              }
       }
    }

    &__footer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        &--search{
            display: flex;
            gap: 0.4rem;
            align-items: center;
            justify-content: center;
            padding: 0.2rem;
            padding-left: 0.5rem;
            button {
              background-color: transparent;
              border: none;
              &:focus {
                outline: none;
              }
              svg {
                color: white;
                font-size: 1.2rem;
              }
            }
            input {
              width: 0;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s ease-in-out;
              background-color: transparent;
              border: none;
              color: white;
              &:focus {
                outline: none;
              }
            }
          }

          &--logout{
                background-color: transparent;
                border: none;
                &:focus{
                    outline: none;
                }
                svg{
                    color: red;
                    font-size: 1.2rem;
                }
          }

        } 
}

.scrolled{
    background-color: #121212;
}

.show-search {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    input {
      width: 100%;
      opacity: 1;
      visibility: visible;
      padding: 0.3rem;
    }
}