.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
    padding: 0.5rem 3rem;
    align-items: center;
    transition: 0.3s ease-in-out;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 1.5rem;
       
       &--logo{
           font-size: 1rem;
           color: #f34242;
           font-family: 'Pacifico', cursive;
           letter-spacing: 5px;
       }

       &--links{
              display: flex;
              gap: 1.5rem;
              align-items: center;
              li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: #e7eaf6;
                    font-size: 1rem;
                    &:hover{
                        color: #f34242;
                    }
                }
              }
       }
    }

    &__footer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        &--search{
            display: flex;
            gap: 0.4rem;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            border-radius: 1rem;
            transition: 0.3s all ease-in-out;

            button {
              background-color: transparent;
              border: none;
              &:focus {
                outline: none;
              }
              svg {
                color: white;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.3s all ease-in-out;
              }
            }
            input {
              width: 0;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s all ease-in-out;
              background-color: transparent;
              border: none;
              color: white;
              &:focus {
                outline: none;
              }
              &::placeholder {
                color: white;
              }
            }
          }

          &--logout{
                background-color: transparent;
                border: none;
                &:focus{
                    outline: none;
                }
                svg{
                    color: #f34242;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover{
                        color:  #f34242;
                    }

                }
          }

        } 
}

.scrolled{
    background-color: #0A0A0A;
}

.show-search {
    border: 1px solid white;

    input {
      width: 100%;
      opacity: 1;
      visibility: visible;
      padding: 0.2rem;

    }
    svg{
        transition: 0.3s all ease-in-out;
        color: #e7eaf6;
    }
}