.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    
    &--layer{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 99;
        left: 50%;
        top: 50%;
        background-color: #18191A;
        border: 1px solid #212121;
        transform: translate(-50%,-50%);
        color: white;   
        max-width: 800px;
        &--video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--info{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 1rem;

            &--icons{
                display: flex;
                align-items: center;
                gap: 1rem;
                box-sizing: border-box;
                padding: 0 0 0 20px;
                svg{
                    font-size: 1.5rem;
                    cursor: pointer;
                    &:hover{
                        color: #f34242;
                    }
                }
            }
            &--descr{
                width: 100%;
                box-sizing: border-box;
                padding: 0 0 20px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                &--text{
                    width: 65%;
                    color: white;
                    padding-right: 1.5rem;
                    h3{
                        color: #545353;
                    }
                    p{
                        margin-bottom: 1rem;
                        text-align: justify;
                    }
                }
                &--content{
                    width: 35%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li{
                            margin-bottom: 0.9rem;
                            color: #545353;
                            font-weight: 600;
                            font-size: 0.9rem;
                            
                            &:last-child{
                                margin-bottom: 0;
                            }
                            span{
                                font-size: 0.9rem;
                                color: #fff;
                                font-weight: 600;
                                padding: 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.likedMovie{
    svg{
     color: #f34242;   
    }
}

@media screen and (max-width: 768px){
    .overlay{
        &__content{
            width: 80%;
            height: 70%;
            &--video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }
}
}

@media screen and (max-width: 480px) {
    .overlay{
        &__content{
            width: 90%;
            height: fit-content;
            &--video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &--info{
                margin: 0;
                padding: 1rem;
                &--descr{
                    display: none;
                }
            }
    }
}
}